{% extends 'base.html' %}

{% block title %}
{{ one_movie['title'] }}
{% endblock %}

{% block body %}
<main class="container mx-auto py-10 pt-20 flex justify-between">
    <div class="container">
        <div class="p-2"><img srcset="/{{ one_movie['static_img_path'] }}" width="200" height="315"></div>
        <div class="p-2 text-white hover:underline">{{ one_movie['title'] }}</div>
        <div class="p-2 text-white">Budget: {{ detail['box office']['Budget'] }} / Worldwide Gross: {{ detail['box office']['Cumulative Worldwide Gross'] }}</div>
    </div>
    <div>
        <div class="text-white">{{ detail['synopsis'][0][:500] }}</div>
    </div>
</main>
{% endblock %}