{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<form method="post" class="space-x-0.25 container justify-center flex text-2xl pt-60">
    <input type="text" name="search" id="search" class="pl-4 form-control block bg-white w-60 rounded-full border border-slate-300 placeholder:text-slate-300 placeholder:italic" placeholder="Search word">
    <input type="submit" name="submit" id="submit" value="Submit" class="bg-red-500 px-2 rounded-full hover:bg-red-600">
</form>
{% endblock %}