{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<main class="container mx-auto w-1/2 py-10 pt-20 flex justify-center space-x-5 flex-row flex-wrap">
{% for element in movie_list %}
<div class="container basis-1/4 flex justify-between">
    <a class="" href="/detail/{{ element['movie_id'] }}">
        <div class="p-2"><img srcset="/{{ element['static_img_path'] }}" width="200" height="315"></div>
        <div class="p-2 text-white hover:underline">{{ element['title'] }}</div>
    </a>>
    <form method="post" class="text-white">
        <input type="submit" name="save_movie" id="save_movie" value="Save">
        <input type="hidden" name="movie_id" id="movie_id" value="{{ element['movie_id'] }}">
    </form>
</div>
{% endfor %}
</main>
{% endblock %}